<footer class="mt-5 site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          augue ipsum, congue vitae commodo et, pharetra ac tellus. Sed at
          efficitur lacus. Suspendisse eget purus pulvinar, auctor massa ac,
          commodo sem. Suspendisse tristique nibh ut quam semper, eu semper
          justo pharetra. Praesent ut tellus sit amet sapien lacinia ultrices
          nec nec odio. Nunc commodo ex purus, sed finibus diam ullamcorper in.
          Curabitur aliquet eleifend ex, eget vehicula sapien egestas at. Donec
          ornare turpis odio, congue ultricies lacus dictum et. Suspendisse
          feugiat porta nisl vel ultrices.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
          <li>
            <a href="http://scanfcode.com/category/front-end-development/"
              >UI Design</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/back-end-development/"
              >PHP</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >Java</a
            >
          </li>
          <li><a href="http://scanfcode.com/category/android/">Android</a></li>
          <li>
            <a href="http://scanfcode.com/category/templates/">Templates</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li>
            <a href="http://scanfcode.com/contribute-at-scanfcode/"
              >Contribute</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
          </li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
</footer>
