<footer class="mt-5 site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>My RPG</h6>
        <p class="text-justify" i18n>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          augue ipsum, congue vitae commodo et, pharetra ac tellus. Sed at
          efficitur lacus. Suspendisse eget purus pulvinar, auctor massa ac,
          commodo sem. Suspendisse tristique nibh ut quam semper, eu semper
          justo pharetra. Praesent ut tellus sit amet sapien lacinia ultrices
          nec nec odio. Nunc commodo ex purus, sed finibus diam ullamcorper in.
          Curabitur aliquet eleifend ex, eget vehicula sapien egestas at. Donec
          ornare turpis odio, congue ultricies lacus dictum et. Suspendisse
          feugiat porta nisl vel ultrices.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 i18n>Donate to support us</h6>
        <ul class="footer-links">
          <li>
            <a href="https://www.patreon.com/">Patreon</a>
          </li>
          <li>
            <a href="https://www.paypal.com/us/home">Paypal</a>
          </li>
          <li>
            <a href="https://onlyfans.com/">OnlyFans</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 i18n>Quick Links</h6>
        <ul class="footer-links">
          <li><a [routerLink]="['/learn-more']" i18n>Learn More</a></li>
          <li>
            <a [routerLink]="['/request-new-game-system']" i18n>
              Request New Game System
            </a>
          </li>
          <li><a [routerLink]="['/contact-us']" i18n>Contact Us</a></li>
          <li><a [routerLink]="['/privacy-policy']" i18n>Privacy Policy</a></li>
          <li><a [routerLink]="['/sitemap']" i18n>Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
</footer>
