<div *ngIf="this.userService.user$ | async as user; else login">
  <div class="container page-container">
    <div class="card d-flex align-items-center">
      <h3 i18n>You are already logged in as {{user.displayName}}</h3>
      <h5 i18n>
        Go back to <a routerLink="/">home</a> or
        <a routerLink="/logout">logout</a>
      </h5>
    </div>
  </div>
</div>

<ng-template #login>
  <div class="container page-container col-md-4">
    <app-login-mode
      *ngIf="this.mode === 'LOGIN'"
      (changeToRegisterMode)="this.registerInstead($event)"
    ></app-login-mode>

    <app-register-mode
      *ngIf="this.mode === 'REGISTER'"
      (changeToLoginMode)="this.loginInstead($event)"
    ></app-register-mode>
  </div>
</ng-template>
