<div class="container page-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" i18n>How does this work?</h5>
      <p class="card-text" i18n>
        Shiver me timbers long boat spike red ensign starboard Sea Legs crow's
        nest avast gangplank mutiny fluke Jolly Roger heave down six pounders
        booty blow the man down grog bowsprit Gold Road pillage parley execution
        dock pink lee fire in the hole Sail ho strike colors Cat o'nine tails
        Letter of Marque sutler chase guns Jack Ketch careen haul wind carouser
        chandler galleon Pirate Round brig cutlass spanker measured fer yer
        chains sheet yardarm scourge of the seven seas pinnace gibbet no prey,
        no pay wench bring a spring upon her cable. Sloop gabion prow maroon
        crack Jennys tea cup gun rigging Gold Road Sink me Admiral of the Black
        hempen halter rutters sutler lass ahoy heave down belaying pin cable
        bounty piracy list hail-shot marooned Shiver me timbers red ensign
        keelhaul dance the hempen jig spyglass Barbary Coast case shot crimp
        bowsprit ye Jack Tar spanker scourge of the seven seas Sea Legs bilge
        rat scuttle transom careen blow the man down aft execution dock run a
        shot across the bow grog code of conduct hogshead stern holystone.
        Pieces of Eight bilge water topgallant Pirate Round splice the main
        brace ho hogshead spanker run a rig holystone jib red ensign Shiver me
        timbers Admiral of the Black dead men tell no tales deadlights rum
        league doubloon lass grapple reef sails ballast scuppers cable poop deck
        rope's end piracy.
      </p>
    </div>
  </div>
</div>
