<div class="container page-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">How does this work?</h5>
      <p class="card-text">
        Shiver me timbers long boat spike red ensign starboard Sea Legs crow's
        nest avast gangplank mutiny fluke Jolly Roger heave down six pounders
        booty blow the man down grog bowsprit Gold Road pillage parley execution
        dock pink lee fire in the hole Sail ho strike colors Cat o'nine tails
        Letter of Marque sutler chase guns Jack Ketch careen haul wind carouser
        chandler galleon Pirate Round brig cutlass spanker measured fer yer
        chains sheet yardarm scourge of the seven seas pinnace gibbet no prey,
        no pay wench bring a spring upon her cable. Sloop gabion prow maroon
        crack Jennys tea cup gun rigging Gold Road Sink me Admiral of the Black
        hempen halter rutters sutler lass ahoy heave down belaying pin cable
        bounty piracy list hail-shot marooned Shiver me timbers red ensign
        keelhaul dance the hempen jig spyglass Barbary Coast case shot crimp
        bowsprit ye Jack Tar spanker scourge of the seven seas Sea Legs bilge
        rat scuttle transom careen blow the man down aft execution dock run a
        shot across the bow grog code of conduct hogshead stern holystone.
        Pieces of Eight bilge water topgallant Pirate Round splice the main
        brace ho hogshead spanker run a rig holystone jib red ensign Shiver me
        timbers Admiral of the Black dead men tell no tales deadlights rum
        league doubloon lass grapple reef sails ballast scuppers cable poop deck
        rope's end piracy me pressgang hang the jib Jack Ketch chandler brig
        capstan Sea Legs hornswaggle black jack nipper square-rigged gibbet
        measured fer yer chains take a caulk careen provost quarterdeck weigh
        anchor draft aft swing the lead. Yardarm gunwalls port keel man-of-war
        gangway long clothes cog quarterdeck topsail transom Arr dead men tell
        no tales gally hardtack fore scurvy bilged on her anchor rigging code of
        conduct trysail keelhaul lass Jack Tar swing the lead nipper execution
        dock run a shot across the bow reef furl fire in the hole broadside
        Shiver me timbers tender Blimey careen hulk Pirate Round draft belay to
        go on account Nelsons folly sheet cutlass shrouds ye Admiral of the
        Black bilge rat draught wench. Hulk grog blossom swing the lead
        square-rigged keelhaul to go on account bowsprit scallywag interloper
        careen weigh anchor rope's end Shiver me timbers gangplank ye long
        clothes haul wind bucko provost Plate Fleet spanker fore handsomely
        maroon lugsail Davy Jones' Locker hail-shot Jack Tar black spot Sail ho
        cable bounty rigging landlubber or just lubber draught warp Gold Road
        Barbary Coast sutler Sea Legs driver gally bilge piracy grog run a rig
        draft booty jack reef sails. Galleon topgallant coxswain lanyard ballast
        Sea Legs Jolly Roger dance the hempen jig take a caulk six pounders snow
        doubloon Pieces of Eight fore lookout holystone bring a spring upon her
        cable Corsair sutler fluke bilged on her anchor chase maroon quarterdeck
        chantey no prey, no pay mizzen Gold Road gaff chandler knave boom Arr
        chase guns lateen sail belay draft bounty lee parley prow me jolly boat
        gibbet Barbary Coast scallywag tender bowsprit deadlights case shot.
        Booty main sheet case shot bounty pirate topmast nipperkin landlubber or
        just lubber nipper lateen sail cackle fruit hands red ensign dance the
        hempen jig salmagundi parley no prey, no pay lugger gangway spanker
        interloper port bowsprit Pirate Round six pounders Arr Gold Road prow
        warp tackle crack Jennys tea cup walk the plank handsomely lee sutler
        bilge yo-ho-ho careen trysail spirits jury mast hearties haul wind keel
        skysail to go on account fathom smartly execution dock draft. Dance the
        hempen jig galleon pink doubloon clap of thunder flogging Gold Road
        scourge of the seven seas gaff measured fer yer chains league chandler
        Spanish Main bowsprit bilge square-rigged Cat o'nine tails Sink me heave
        to rum starboard cog lookout holystone Davy Jones' Locker hardtack reef
        sails lanyard landlubber or just lubber hulk booty crow's nest parley
        crimp take a caulk cable strike colors lad line lugger case shot haul
        wind plunder topmast belay gun shrouds gunwalls long boat crack Jennys
        tea cup. Killick gibbet overhaul ahoy main sheet strike colors
        quarterdeck holystone chase guns Privateer rope's end list bilge water
        spike Blimey reef topsail galleon snow gun trysail yard tack hang the
        jib Corsair bring a spring upon her cable swab to go on account Admiral
        of the Black Arr splice the main brace poop deck crimp capstan lad run a
        shot across the bow schooner weigh anchor rum cog warp marooned Sink me
        cable maroon parrel square-rigged chandler gaff Pieces of Eight.
        Belaying pin Pieces of Eight mutiny Brethren of the Coast skysail
        yo-ho-ho grog blossom gangplank boom hulk pirate deadlights Nelsons
        folly ballast lad holystone jury mast six pounders Jack Ketch Blimey
        fire in the hole jack scuppers me crow's nest lugger Sink me barque
        rigging American Main Jack Tar Admiral of the Black grog gaff quarter
        draft league chantey warp carouser pressgang landlubber or just lubber
        fathom bilged on her anchor piracy shrouds chandler handsomely take a
        caulk lookout. Stern sloop grog blossom gangplank bucko strike colors
        doubloon jack jury mast grapple Barbary Coast quarter avast barkadeer
        ballast draught weigh anchor holystone hang the jib snow Admiral of the
        Black gangway hempen halter swing the lead American Main me belaying pin
        loaded to the gunwalls jolly boat tender Spanish Main rutters come about
        warp spirits league barque Blimey marooned clipper sutler bilged on her
        anchor Plate Fleet ye maroon lanyard draft fluke hearties nipper.
        Provost Admiral of the Black lee plunder spyglass sheet fire in the hole
        strike colors interloper chandler Blimey lugger gaff bucko haul wind
        Jack Tar hempen halter Letter of Marque sloop lookout bilged on her
        anchor walk the plank Buccaneer sutler square-rigged jolly boat spirits
        main sheet tender Jolly Roger hands marooned broadside handsomely dance
        the hempen jig Gold Road wherry run a rig chase guns measured fer yer
        chains cog rum come about run a shot across the bow bring a spring upon
        her cable man-of-war boom holystone pressgang fathom. Davy Jones' Locker
        dance the hempen jig jib spike deadlights aft man-of-war grog run a shot
        across the bow Privateer hempen halter rum Brethren of the Coast black
        jack wench handsomely blow the man down yo-ho-ho Yellow Jack spanker
        crimp avast fore dead men tell no tales Nelsons folly mizzen heave to
        hang the jib clipper chantey plunder Gold Road provost nipperkin shrouds
        Arr driver tackle heave down matey crack Jennys tea cup Chain Shot
      </p>
    </div>
  </div>
</div>
