<div class="container page-container">
  <div *ngIf="gamebook$ | async as gamebook">
    <div class="card">
      <img [src]="gamebook.img" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ gamebook.name }}</h5>
        <div class="d-flex w-100">
          <!-- <h6 class="card-subtitle mb-2 text-muted">{{ gamebook.series }}</h6> -->
          <h6 class="card-subtitle mb-2 text-muted">
            <span i18n>By: </span>{{ gamebook?._author?.displayName }}
          </h6>
        </div>
        <p class="card-text">{{ gamebook.description }}</p>
        <div class="btn-group" role="group">
          <button
            [routerLink]="['read']"
            class="btn btn-primary"
            *ngIf="gamebook?.ownedByUser || gamebook?.publishedByUser; else buyButton"
          >
            Read Gamebook
          </button>
          <button
            [routerLink]="['edit']"
            class="btn btn-secondary"
            *ngIf="gamebook?.publishedByUser"
          >
            Edit Gamebook
          </button>
          <ng-template #buyButton>
            <button [routerLink]="['buy']" class="btn btn-primary">
              Buy now for {{gamebook.price | currency}}
            </button>
          </ng-template>
        </div>
      </div>
    </div>

    <div
      class="card mt-4"
      id="section-card"
      *ngIf="gamebook?.author?.id === (this.userService.user$ | async)?.id"
    >
      <div class="card-body">
        <h5 class="card-title">Sections</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Only you can see the sections because this is your published adventure
        </h6>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>List</a>
            <ng-template ngbNavContent>
              <div>
                <ul class="list-group-flush">
                  <a
                    class="list-group-item"
                    *ngFor="let section of gamebook?.sections"
                    [routerLink]="['edit', section.id]"
                  >
                    {{ section.name }}
                    <span *ngIf="section.isStartingPoint" id="starting-point">
                      (Starting Point)
                    </span>
                  </a>
                </ul>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Graph</a>
            <!-- <ng-template ngbNavContent>
              <ngx-graph
                class="chart-container"
                [view]="[1000, 800]"
                [showMiniMap]="false"
                [links]="this.links"
                [nodes]="this.nodes"
              >
                <ng-template #nodeTemplate let-node>
                  <svg:g class="node">
                    <svg:rect
                      [attr.width]="100"
                      [attr.height]="100"
                      [attr.fill]="node.data.color"
                    />
                    <svg:text
                      alignment-baseline="central"
                      [attr.x]="10"
                      [attr.y]="100 / 2"
                      style="color: white"
                    >
                      {{node.label}}
                    </svg:text>
                  </svg:g>
                </ng-template>
              </ngx-graph>
            </ng-template> -->
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
