<div>
  <h1 class="display-4">Welcome to My RPG!</h1>
  <p class="lead">
    A place where you can find single-player adventures for your favorite
    tabletop rpgs. In these adventures you'll create your own character and take
    them on an adventure published by the many people that create solo
    adventure.
  </p>
  <hr class="my-4" />
  <span>
    Not sure what Single Player Adventures or how to play them? Or do you just
    want more information about My RPG Story and how all of this works? </span
  ><br />
  <a routerLink="/learn-more" role="button">Click here to learn more</a>
</div>
