<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My RPG</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="this.userService.user$ | async as user">
          <a
            class="nav-link"
            routerLink="library"
            routerLinkActive="active"
            i18n
          >
            Library
          </a>
        </li>
        <li class="nav-item" *ngIf="this.userService.user$ | async as user">
          <a
            class="nav-link"
            routerLink="published-books"
            routerLinkActive="active"
            i18n
          >
            Published Adventures
          </a>
        </li>
      </ul>

      <div>
        <ng-template #login>
          <button class="btn btn-primary" routerLink="login" i18n>
            Log In
          </button>
        </ng-template>

        <div
          ngbDropdown
          class="d-inline-block"
          *ngIf="this.userService.user$ | async as user; else login"
        >
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ user.displayName }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="profile" i18n>
              My Profile
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="logout()" i18n>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
